terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars
terraform/tfplan

ansible/playbook.yml

.env
.env.*

# Logs
*.log

# OS files
.DS_Storetfplan
ansible/playbook.yml
